@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body{
	height: 100vh;
	max-width:100%;
	background:linear-gradient(to right, #50c4ed,#BFBDBC);
	display: flex;
	justify-content: center;
	align-items: center;
}

.container{
	max-width: 720px;
	width:100%;
	margin:auto;
	background-color:#fff;
	padding:2rem;
	border-radius:10px;
}



.container h2{
	text-align:center;
	position: relative;
}


.container h2::before{
	content: '';
	position: absolute;
	left: 42%;
	bottom: 0;
	height: 5px;
	width: 100px;
	background:linear-gradient(to right, #BFBDBC, #50c4ed);
	border-redius: 30px;
}

.container .user_details{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 2rem 0;
}

.user_details .input_box{
	width: calc(100% / 2 - 50px);
}

.input_box .title{
	font-size: 15px;
	font-weight: 500;
}

.input_box .icon{
	margin-bottom: 20px;
}

.input_box input{
	padding: 5px;
	padding-left:10px;
	border-radius:10px;
	width:100%;
	outline:none;
	border:2px solid #ccc;
	font-size:13px;
	box-shadow: 1px 1px 2px #387adf;
}

.container .user_gender .title{
	font-size:15px;
	font-weight:500;
}

.user_gender .Gender_category{
	font-color:white;
	display: flex;
	justify-content: space-between;
	
}

.user_gender .Gender_category lable{
	cursor: pointer;
}

.user_gender .Gender_category span{
	font-size:15px;
}

.container .button{
	display:flex;
	justify-content: center;
	align-items: center;
}

.container .button button{
	padding:8px 40%;
	border-radius:8px;
	border: none;
	cursor: pointer;
	font-size:18px;
	letter-spacing:1px;
	font-weight:600;
	color:#fff;
	background:linear-gradient(to left, #aaca1b, #0077e7);
}

.button button:hover{
	background:linear-gradient(to left, #aaca1b, #0077e7);
}

@media screen and (max-width: 720px){
	.container{
		max-width: 95%;
	}
	
	.user_details .input_box{
		width: 100%;
	}
	
	.container .user_details{
		max-height:;280px
		overflow-y: scroll;
	}
	
	.user_gender .Gender_category{
		width: 100%;
	}
	
	.container .user_details:;webkit-Scrollbar{
		width: 0;
	}
}
